.main{
    font-family: 'Helvetica';
    background-color: rgb(31, 31, 31);
}
.main-box{
    
}
.head{
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: 500px;
    color: white;
}
.three-button{
    display: flex;
    justify-content: center;
}
.rps{
    height: 150px;
    width: 150px;
    border: none;
    border-radius: 100px;
    margin-right: 10px;
}

.rps-icon{
    display: inline-block;
    width: 100px;
}

.result-img{
    display: flex;
    justify-content: center;
}

.show-your-moves{
    width: 100px;
    height: 100px;
    background-color: white;  
    border: none;
    border-radius: 100px;
    margin-right: 10px; 
}

.player-move-img{
    width: 70px;
    padding-left: 15px;
    padding-top: 15px;

}

.show-comp-moves{
    width: 100px;
    height: 100px;
    background-color: white;
    justify-content: center;
    border: none;
    border-radius: 100px;
    margin-right: 10px;
}

.stats{
    margin-top: 10px;
    align-items: center;
}
.show-result{
    font-size: 25px;
    display: flex;
    justify-content: center;
    color: white;
}
.show-moves{
    display: flex;
    justify-content: center;
    color: white;
}
.result-display{
    display: flex;
    justify-content: center;
    color: white;
}

.reset-button{
    display: flex;
    justify-content: center;
}
.reset{
    align-items: center;
    border: none;
    border-radius: 15px;
    width: 150px;
    height: 30px;
    background-color: red;
    color: white;
}
